<h1>Hola {{username}} </h1>

<p>
  Aquí podrás crear tus recetas de tragos favoritas de una manera fácil y
  rápida.
</p>
<form action="" method="post" class="formNewDrink">
  <fieldset class="newRecipeFS on">
    <legend>
      Nombre
    </legend>
    <input
      type="text"
      name="recipeName"
      id="recipeName"
      placeholder="[Nombre de la receta]"
      class="onlyInput input"
    />
  </fieldset>
  <fieldset class="newRecipeFS on">
    <legend>
      Origen
    </legend>
    <input
      type="text"
      name="recipeOrigin"
      id="recipeOrigin"
      placeholder="['Mexico' 'Francia' ...]"
      class="onlyInput input"
    />
  </fieldset>
  <fieldset class="newRecipeFS on">
    <legend>
      Porciones (1 vaso = 200ml)
    </legend>
    <input
      type="number"
      name="recipePortions"
      id="recipePortions"
      placeholder="[Vasos]"
      max="5"
      min="1"
      class="onlyInput input"
    />
  </fieldset>
  <fieldset class="newRecipeFS on">
    <legend>
      Ingredientes
    </legend>
    <div class="ingredientsArea" id="ingredientsArea">
      <input
        type="number"
        name="recipeIngredientCant"
        class="iCant input"
        placeholder="[#]"
        max="10"
        min="1"
      />
      <select class="iSelect" name="recipeIngredientMetric">
        <option>Onza/s</option>
        <option>Mililitro/s</option>
        <option>Vaso/s</option>
        <option>Unidad/es</option>
      </select>
      <span> de </span>
      <input
        type="text"
        name="recipeIngredient"
        class="iName input"
        placeholder="[Ingrediente]"
      />
      <input
        type="button"
        value="+"
        title="Agregar ingrediente"
        class="addBtn"
      />
    </div>
  </fieldset>
  <fieldset class="newRecipeFS on">
    <legend>
      Pasos
    </legend>
    <div class="stepsArea" id="stepsArea">
      <label for="step" class="sNumber">1.-</label>
      <textarea
        class="sValue input"
        placeholder="['Agregar el jengibre a...']"
        name="step"
      ></textarea>
      <input type="button" value="+" title="Agregar paso" class="addBtn" />

    </div>
  </fieldset>
  <fieldset class="newRecipeFS on">
    <legend>
      Imagen
    </legend>
    <input
      type="file"
      name="imageRoute"
      id="image"
      accept="image/png, image/jpeg"
    />

  </fieldset>
  <input type="submit" value="Solicitar revision" id="btnSubmit" />
</form>
<script src="/javascripts/addRecipe.js"></script>