header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #5c2e7e;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
}
header nav div.cntLogo {
  width: 100px;
  height: auto;
}
header nav div.cntLogo img {
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: justify;
}

header nav ul li {
  list-style: none;
  border: 1px solid black;
}
header nav ul li a {
  text-decoration: none;
  padding: 40px 10px;
  font-size: 1.5rem;
}
@media (max-width: 1000px) {
}
